body{
  margin: 0;
}
h1, h2, h3, h4, h5, a ,p ,li{
  font-family: Raleway, serif !important;
}

@font-face {
    font-family: numberfont;
    src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: titlefont;
    src: url('/fonts/NotoSerif-Regular.ttf');
}
@font-face {
    font-family: Raleway;
    src: url('/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: RalewayItalic;
    src: url('/fonts/Raleway-Italic.ttf');
}
.sectionHeader{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4b565e;
  color: white;
}
.sectionHeader ul{
  list-style: none;
}
.sectionHeader li{
  display: inline-block;
}
.sectionNavbar{
  color: #4b565e;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sectionNavbar h2{
  font-family: titlefont, serif;
  font-size: 3.3rem;
}
.sectionNavbar a, p{
  font-family: Raleway, serif;
}
.sectionNavbar a{
  color: #4b565e;
}
.sectionNavbar a:hover{
  color: #4b565e;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 3px solid #cf1f2e;
}
.outlinebutton{
  background-color: Transparent;
  color: #cf1f2e;
  border: 3px solid #cf1f2e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.outlinebutton:hover{
  background-color: #cf1f2e;
  color: white;
}
.sectionSlidebar{
  margin-bottom: 30px;
}
.sectionScrollBar{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 35px;
  background-color: #cf1f2e;
  color: white;
}
.onHover{
  position: relative;
  top: 0px;
  -webkit-transition: top 1s; /* Safari */
  transition: top 1s;
  }
.onHover:hover{
box-shadow: 0 4px 8px 0 rgb(136,136,136), 0 6px 20px 0 rgb(136,136,136);
top:-30px;
}
.sectionReviews p{
  font-family: RalewayItalic, serif!important;
  color: red;
}
.sectionContactUsContainer{
  background-color: #222127;
  padding-top: 40px;
  padding-bottom: 30px;
}
.sectionContactUsContainer p{
  color: #aaa;
}
.sectionPrimaryFooter{
  background-color: #39383d;
}
.sectionPrimaryFooter h4{
  color: #aaa;
}
.sectionPrimaryFooter p{
  color: #ffffff;
  font-size: 0.8rem;
}
.sectionPrimaryFooter li{
  color: #aaa;
  font-size: 0.8rem;
}
.footerEmailText{
  font-size: 0.8rem;
  color: #aaa;
}
.servicesImg li{
  display: inline-block;
}
.servicesImg img{

}

/* Media Qqueries */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .sectionNavbarLarge{
    display: none;
  }
  .img-slider{
    height: 400px;
    width:100%;
    overflow: hidden;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .sectionNavbarLarge{
    display: none;
  }
  .img-slider{
    height: 400px;
    width:100%;
    overflow: hidden;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionNavbarLarge{
    display: none;
  }
  .googlemap{
    height: 600px;
  }
  .sectionScrollBarText{
    font-size: 1.4rem;
  }
  .img-slider{
    height: 500px;
    width:100%;
    overflow: hidden;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sectionNavbarSmall{
    display: none;
  }
  .img-slider{
    height: 600px;
    width:100%;
    overflow: hidden;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .sectionNavbarSmall{
    display: none;
  }
  .img-slider{
    height: 900px;
    width:100%;
    overflow: hidden;
  }
}

/*  Gallery Css */
* {
    box-sizing: border-box;
}

/* The grid: Four equal columns that floats next to each other */
.column1 {
    display: inline-block;
    padding: 0px;
}
.column2 {
    display: inline-block;
    padding: 0px;
}

/* Style the images inside the grid */
.cols img {
    opacity: 0.8;
    cursor: pointer;
}
.cols img {
    opacity: 0.8;
    cursor: pointer;
}

.cols img:hover {
    opacity: 1;
}
.cols img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container1 {
    position: relative;
}
.container2 {
    position: relative;
}
.container3 {
    position: relative;
}
.container4 {
    position: relative;
}
/* Expanding image text */
#imgtext1 {
    color: black;
    font-size: 20px;
}
#imgtext2 {
    color: black;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn1 {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
