body{
  margin: 0;
}
h1, h2, h3, h4, h5, a ,p ,li{
  font-family: Raleway, serif !important;
}

@font-face {
    font-family: numberfont;
    src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: titlefont;
    src: url('/fonts/NotoSerif-Regular.ttf');
}
@font-face {
    font-family: Raleway;
    src: url('/fonts/Raleway-Regular.ttf');
}
.sectionHeader{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4b565e;
  color: white;
}
.sectionHeader ul{
  list-style: none;
}
.sectionHeader li{
  display: inline-block;
}
.sectionNavbar{
  color: #4b565e;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sectionNavbar h2{
  font-family: titlefont, serif;
  font-size: 3.3rem;
}
.sectionNavbar a, p{
  font-family: Raleway, serif;
}
.sectionNavbar a{
  color: #4b565e;
}
.sectionNavbar a:hover{
  color: #4b565e;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 3px solid #cf1f2e;
}
.outlinebutton{
  background-color: Transparent;
  color: #cf1f2e;
  border: 3px solid #cf1f2e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.outlinebutton:hover{
  background-color: #cf1f2e;
  color: white;
}
.sectionSlidebar{
  margin-bottom: 30px;
}
.sectionScrollBar{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 35px;
  background-color: #cf1f2e;
  color: white;
}
.onHover{
  position: relative;
  top: 0px;
  -webkit-transition: top 1s; /* Safari */
  transition: top 1s;
  }
.onHover:hover{
box-shadow: 0 4px 8px 0 rgb(136,136,136), 0 6px 20px 0 rgb(136,136,136);
top:-30px;
}
.sectionContactUsContainer{
  background-color: #222127;
  padding-top: 40px;
  padding-bottom: 30px;
}
.sectionContactUsContainer p{
  color: #aaa;
}
.sectionPrimaryFooter{
  background-color: #39383d;
}
.sectionPrimaryFooter h4{
  color: #aaa;
}
.sectionPrimaryFooter p{
  color: #ffffff;
  font-size: 0.8rem;
}
.sectionPrimaryFooter li{
  color: #aaa;
  font-size: 0.8rem;
}
.footerEmailText{
  font-size: 0.8rem;
}

@media only screen and (min-width: 1000px) {
  .sliderh {
    max-height: 650px;
    overflow: hidden;
  }
  .img-h{
    position: relative;
    top: -50px;
    height: 800px;
  }
  .titletext{
    font-size: 0.8rem;
  }
  .googlemap{
    height:450px;
  }
}
